form {
    width: 33%;
}

.incomming-weather {
    text-align: center;
    background-color: rgb(119, 119, 119);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    border-image: initial;
    padding: 2px;
}
.incomming-weather p {
    color: whitesmoke;
}