<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Destination</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "travel_buddy_app/css/destination.css" %}">
</head>
<body>
        <nav>
            <a href="/main">Logout</a>
            <a href="/travels/add">Add travel plan</a>
        </nav>

        <div>
            <!-- user you click on will be here -->
            <p>Planned By: </p>
            <p>Description:</p>
            <p>Travel Date From: </p>
            <p>Travel Date To: </p>
        </div>

        <div>
            <!-- user you click on will be here -->
            <h3>Other user's joining the trip</h3>
            <!--  for loop with python  -->

        </div>
    
</body>
</html>